<div id="center">
	<% @sections.each do |section| %>  
			<div id="ccc" class="col">
				<h4 class="ban"><a href= "<%= section_show_posts_path(section.id) %>" class="ccc" data-alltitle="all <%= section.name %>" data-cat="ccc"><span class="txt"><%= section.name %><sup class="c"></sup></span></a></h4>
				<div class="cats">
					<ul id="ccc0" class="left">
						<% section.categories.each do |category| %>
							<li><a href="<%= category_show_posts_path(category.id) %>" class="<%= category.name %>" data-cat="<%= category.name %>"><span class="txt"><%= category.name %><sup class="c"></sup></span></a></li>				
						<% end %>
					</ul>
				</div>
			</div>
	<% end %>
</div>
