<%= render 'layouts/navbar' %>
<div class="container">
  <h1 class="text-center mt-4">Posts</h1>

  <div class="row mt-4">

    <% @posts.each do |post| %>
        <div class="card-group">
          <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Title: <%= post.title %></h5>
                <h6 class="card-text">Price:  <%= post.price %></h6>
                <h6 class="card-text">Postal code: <%= post.postal_code %></h6>
                <h6 class="card-text">Phone number: <%= post.phone_number %></h6>
                <h6 class="card-text">Description: <%= post.description %></h6>
                <h6 class="card-text">Active: <%= post.active %></h6>

                  <hr>
                  <br>
                     <div class="container">
                  <div class="row justify-content-md-center">
                      <% (0...post.pictures.count).each do |picture| %>
                        <div class="card-image-bottom"style="width:100px; height:100px">
                            <%= image_tag(post.pictures[picture], style: 'width:100% ; height:auto' ) %>
                        </div>
                      <% end %>
                  </div>
                </div>

                <a><%= link_to 'Edit', edit_post_path(post) %></a> |
                <a><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></a>
              </div>
          </div>
        </div>
    <% end %>

    <br>

   
  </div>
   <%= link_to 'New Post', new_post_path, class:"btn btn-primary" %>
</div>
