<%= javascript_pack_tag 'selection.js' %>
<div class="container">

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <%# <div class="field">
    <%= form.label :neighbourhold %>
    <%# <%= form.text_field :neighbourhold, class: "form-control" %>
  <%# </div> %>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.number_field :postal_code, class: "form-control" %>
  </div>

 <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "form-control" %>
  </div>

  <%= hidden_field_tag 'post[user_id]', current_user.id %>
  
 <div class="field">
    <%= form.label :city_id %>
     <%= select_tag "post[city_id]", options_from_collection_for_select(City.all, "id", "name", "state"), class: "form-control" %>
    </div>



  <div class="field">
    <%= form.label :section_id %>
     <%= select_tag "post[section_id]", options_from_collection_for_select(Section.all, "id", "name"), class: "form-control" %>
    </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= select_tag "post[category_id]", [], class: "form-control" %>
  </div>

 
  <div class="field">
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<br>
</div>