<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<!--
  <p>
    <strong>Neighbourhold:</strong>
    <%= @post.neighbourhold %>
  </p>
-->

<p>
  <strong>Postal code:</strong>
  <%= @post.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @post.phone_number %>
</p>

<%= hidden_field_tag 'post[user_id]', current_user.id %>
<%= hidden_field_tag 'post[category_id]', current_user.city_id %>


<p>
<strong>Picture:</strong>
 	<% @post.picture.each do |image| %>
  <%= image_tag image %> <br />
<% end %>
</p>

<p>
  <strong>Active:</strong>
  <%= @post.active %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
