<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<!--
  <p>
    <strong>Neighbourhold:</strong>
    <%= @post.neighbourhold %>
  </p>
-->
<p>
  <strong>Postal code:</strong>
  <%= @post.postal_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @post.phone_number %>
</p>

<%= hidden_field_tag 'post[user_id]', current_user.id %>
<%= hidden_field_tag 'post[city_id]', current_user.city_id %>
<%= hidden_field_tag 'post[category_id]', @post.category_id %>
<%= hidden_field_tag 'post[section_id]', @post.section_id %>

<!--
<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>
-->

<!--
<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>
-->
<p>
  <strong>City:</strong>
  <%= @post.city.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @post.active %>
</p>

<p>
	<% @post.pictures.each do |image| %>
    <%= image_tag image %> 
  <% end %>
</p>

 <br><br><br><br><br><br>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
