<div class="container">
  <h1 class="text-center mt-4">Posts</h1>

  <!--
    <table class="table table=borderless">
      <thead>
        <tr>
          <th class="col">Title</th>
          <th class="col">Price</th>
          <%# <th class="col">Neighbourhold</th> %>
          <th class="col">Postal code</th>
          <th class="col">Description</th>
          <th class="col">Phone number</th>
          <th class="col">User</th>
          <th class="col">Category</th>
          <th class="col">Picture</th>
          <th class="col">Active</th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.price %></td>
            <%# <td><%= post.neighbourhold %>
            <td><%= post.postal_code %></td>
            <td><%= post.city %></td>
            <td><%= post.description %></td>
            <td><%= post.phone_number %></td>
            <td><%= post.user_id %></td>
            <td><%= post.category_id %></td>
            <td><%= post.picture %></td>
            <td><%= post.active %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  -->

  <div class="row mt-4">

    <% @posts.each do |post| %>
        <div class="card-group">
          <div class="card mb-3">
            <img src="<%= post.picture %>" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Title: <%= post.title %></h5>
                <h6 class="card-text">Price:  <%= post.price %></h6>
                <h6 class="card-text">Postal code: <%= post.postal_code %></h6>
                <h6 class="card-text">City: <%= post.city.name %></h6>
                <h6 class="card-text">Phone number: <%= post.phone_number %></h6>
                <h6 class="card-text">Description: <%= post.description %></h6>
                <h6 class="card-text">Active: <%= post.active %></h6>
                <a><%= link_to 'Edit', edit_post_path(post) %></a> |
                <a><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></a>
              </div>
          </div>
        </div>
    <% end %>

    <br>

   
  </div>
   <%= link_to 'New Post', new_post_path, class:"btn btn-primary" %>
</div>